#banana {
    cursor: pointer;
}

html {
  touch-action: manipulation;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    flex: 1;
}

#clickCounter {
    font-weight: 400;    
}

header {
    font-size:50px;
    font-weight:900;
}
